<nav class="desktop-navigation-menu">
    <div class="container">
        <ul class="desktop-menu-category-list">

            <li class="menu-category">
                <a href="/" class="menu-title">בית</a>
            </li>

            <li class="menu-category">
                <a href="#" class="menu-title">קטגוריות</a>

                <div class="dropdown-panel">
                    @if (CategoryService.AllCategories != null && CategoryService.AllCategories.Any())
                    {
                        @foreach (var category in CategoryService.AllCategories)
                        {
                            <ul class="dropdown-panel-list">
                                <li class="menu-title">
                                    <a href="#">@category.Name</a>
                                </li>

                                @foreach (var subcategory in category.Subcategories!)
                                {
                                    <li class="panel-list-item">
                                        <a href="#">@subcategory.Name</a>
                                    </li>
                                }

                                <li class="panel-list-item">
                                    <a href="#">
                                        <img src="@("/images/Icons/" + category.Icon)" alt="@category.Name" width="50" height="50">
                                    </a>
                                </li>
                            </ul>
                        }
                    }
                </div>
            </li>

            <li class="menu-category">
                <a href="#" class="menu-title">מותגים</a>
                <ul class="dropdown-list">
                    @if (BrandService.AllBrands != null && BrandService.AllBrands.Any())
                    {
                        @foreach (var brand in BrandService.AllBrands)
                        {
                            <li class="dropdown-item">
                                <a href="@brand.EnName" style="display: flex; align-items: center; gap: 10px;">
                                    <img src="@("/images/" + brand.LogoPath)" alt="@brand.EnName" width="60" height="60">
                                    <span>@brand.EnName</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </li>

            <li class="menu-category">
                <a href="#" class="menu-title">Women's</a>
                <ul class="dropdown-list">
                    <li class="dropdown-item">
                        <a href="#">Dress &amp; Frock</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Earrings</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Necklace</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Makeup Kit</a>
                    </li>
                </ul>
            </li>

            <li class="menu-category">
                <a href="#" class="menu-title">Jewelry</a>
                <ul class="dropdown-list">
                    <li class="dropdown-item">
                        <a href="#">Earrings</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Couple Rings</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Necklace</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Bracelets</a>
                    </li>
                </ul>
            </li>

            <li class="menu-category">
                <a href="#" class="menu-title">Perfume</a>
                <ul class="dropdown-list">
                    <li class="dropdown-item">
                        <a href="#">Clothes Perfume</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Deodorant</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Flower Fragrance</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Air Freshener</a>
                    </li>
                </ul>
            </li>

            <li class="menu-category">
                <a href="#" class="menu-title">Blog</a>
            </li>

            <li class="menu-category">
                <a href="#" class="menu-title">Hot Offers</a>
            </li>

        </ul>
    </div>
</nav>

@code {
    protected override async Task OnInitializedAsync()
    {
        await BrandService.GetAllBrands();
        BrandService.BrandAction += StateHasChanged;
        await CategoryService.GetAllCategories();
        CategoryService.CategoryAction += StateHasChanged;
    }

    public void Dispose()
    {
        BrandService.BrandAction -= StateHasChanged;
        CategoryService.CategoryAction -= StateHasChanged;
    }
}