<div class="product-showcase">
    <h3 class="showcase-heading">
        הנמכרים ביותר
    </h3>
    <div class="showcase-wrapper">
        <div class="showcase-container">
            @foreach (var product in BestSellers)
            {
                <div class="showcase">
                    <a href="#" class="showcase-img-box">
                        <img src="@product.Base64Img" alt="@product.Name" width="75" height="75" class="showcase-img">
                    </a>
                    <div class="showcase-content">
                        <a href="#">
                            <h4 class="showcase-title">@product.Name</h4>
                        </a>
                        <div class="showcase-rating">
                            @for (int i = 0; i < Math.Floor((decimal)product.Rating); i++)
                            {
                                <i class="fa-solid fa-star"></i>
                            }

                            @if (product.Rating % 1 != 0)
                            {
                                <i class="fa-solid fa-star-half-stroke fa-flip-horizontal"></i>
                            }

                            @for (int i = (int)Math.Ceiling((decimal)product.Rating); i < 5; i++)
                            {
                                <i class="fa-regular fa-star"></i>
                            }
                        </div>
                        <div class="price-box">
                            <del>@product.OldPrice.ToString("C")</del>
                            <p class="price">@product.Price.ToString("C")</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    private List<Product> BestSellers = new();

    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetAllProducts(false);

        BestSellers = ProductService.AllProducts
            .Take(5)
            .ToList();

        StateHasChanged();
    }
}
